server:
  port: 8080

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**

            - id: clinic-service
              uri: lb://CLINIC-SERVICE
              predicates:
                - Path=/clinics/**

            - id: queue-service
              uri: lb://QUEUE-SERVICE
              predicates:
                - Path=/queue/**

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka/
