server:
  port: 8080

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**, /admin_profile/**, /doctor_profile/**
                - Path=/patient_profile/**, /technician_profile/**

            - id: clinic-service
              uri: lb://CLINIC-SERVICE
              predicates:
                - Path=/clinics/**, /clinic_doctors/**

            - id: queue-service
              uri: lb://QUEUE-SERVICE
              predicates:
                - Path=/queue/**

            - id: consultation-service
              uri: lb://CONSULTATION-SERVICE
              predicates:
                - Path=/consultations/**

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka/
